<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置-录屏小弟</title>
    <link rel="stylesheet" href="./index.css">
    <script src="../../common/lib/react@18.2.0.development.js"></script>
    <script src="../../common/lib/react-dom@18.2.0.development.js"></script>
    <script src="../../common/lib/babel@7.22.5.js"></script>

</head>
<body id="app">
<!--<script src="../../common/components/header.js" type="text/babel"></script>-->
<script src="./index.js" type="text/babel"></script>
</body>
</html>