<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <h2 id="h2"></h2>
    <h3 id="h3"></h3>
    <script>
        const h2 = document.getElementById('h2');
        const h3 = document.getElementById('h3')
        h2.innerText = `Chrome v(${versions.chrome()})`

        const msg = async () => {
            const res = await window.versions.ping();
            h3.innerText = res;
        }
        msg();

        const getDevices = async () => {
            const res = await window.versions.getDevice();
            console.log(res, 'device number');
        }
        getDevices();
    </script>
</body>
</html>